.THIS .slds-textarea {
    height:30px !important;
}


.THIS{
	
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .radio3button .slds-radio_button [type=radio]:checked+.slds-radio_button__label .slds-radio_faux,
.THIS .radio3button .slds-radio_button [type=radio]:checked+.slds-radio_button__label{
   background:red;
}
.THIS .radio3button .slds-radio_button:last-child [type=radio]:checked+.slds-radio_button__label .slds-radio_faux,
.THIS .radio3button .slds-radio_button:last-child [type=radio]:checked+.slds-radio_button__label{
   background:grey;
}
.THIS .radio3button .slds-radio_button:first-child [type=radio]:checked+.slds-radio_button__label .slds-radio_faux,
.THIS .radio3button .slds-radio_button:first-child [type=radio]:checked+.slds-radio_button__label{
   background:green;
}

.THIS .radio2button .slds-radio_button [type=radio]:checked+.slds-radio_button__label .slds-radio_faux,
.THIS .radio2button .slds-radio_button [type=radio]:checked+.slds-radio_button__label{
   background:red;
}
.THIS .radio2button .slds-radio_button:first-child [type=radio]:checked+.slds-radio_button__label .slds-radio_faux,
.THIS .radio2button .slds-radio_button:first-child [type=radio]:checked+.slds-radio_button__label{
   background:green;
}

.THIS legend.slds-form-element__legend {display:none;}

/* Mobile Version of Search Filters CSS - Changes made on 20/5/2019 - Avon Gracias */
.THIS .searchBtns .slds-radio_button__label{vertical-align: middle; slign-self: center;}
.THIS .searchBtns span.slds-radio_faux{display:block; line-height:20px; padding:10px;}

/* Table - Name alignment for mobile portrait mode */

@media only screen and (max-width:768px){
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell, .THIS .hideCell div, 
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell:before, 
    .THIS .slds-max-medium-table--stacked-horizontal td.hideCell:before
    {display:none!important;}
    .THIS .slds-max-medium-table_stacked-horizontal td:nth-child(2){cursor:pointer;}
}
@media only screen and (max-width: 480px){
    .THIS .slds-max-medium-table_stacked-horizontal td:before, 
    .THIS .slds-max-medium-table--stacked-horizontal td:before {
        width: 45%;
        text-align: left;
    }
}