.THIS{
	
}

.THIS .slds-modal
{
    display: none; aria-hidden:false;
}

.THIS.exactCenter {
    width:200px;
    height:200px;
    position: fixed;
    top: 52%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
  }

@media only screen and (max-width:768px){
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell, .THIS .hideCell div, 
    .THIS .slds-max-medium-table_stacked-horizontal td.hideCell:before, 
    .THIS .slds-max-medium-table--stacked-horizontal td.hideCell:before
    {
        display:none!important;
    }
    .THIS .slds-max-medium-table_stacked-horizontal td:nth-child(1){
        cursor:pointer;
    }
    
  
    .THIS .subscriptionMgmt .slds-truncate{
    	white-space:normal!important;
	}
    
    .THIS .slds-max-medium-table_stacked-horizontal td{
        border-left:2px solid rgb(217, 219, 221);
        border-right:2px solid rgb(217, 219, 221);
    }
    
    .THIS .slds-max-medium-table_stacked-horizontal {
        text-align:left;
    }
    
     .THIS .slds-max-medium-table_stacked-horizontal tr:last-child{
        border-bottom:2px solid rgb(217, 219, 221);
    }
    
    .THIS .iconFix{
        left:2.75rem!important;
    }
}