.THIS.gauge-chart-properties{
    border: 1px solid #5a6e91;
    border-radius: 5px;
    position: relative; 
    /* height:225px; */
    /* width: max-content; */
}
.THIS .curso-pointer{
    cursor:pointer;
}
.THIS .slds-text-body_small{
    font-size: var(--lwc-fontSize1,0.75rem);
}