.THIS{
	
}

.THIS .slds-modal
{
    display: none; aria-hidden:false;
}

.THIS.exactCenter {
    width:200px;
    height:200px;
    position: fixed;
    top: 52%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
  }