<template>
    <lightning-record-edit-form object-api-name={taskObject} onsuccess={handleTaskCreated}>
        <lightning-messages></lightning-messages>
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input-field field-name={nameField}></lightning-input-field>
                <lightning-input-field field-name={relatedToField}></lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <!-- More lightning-input-field components here -->
            </div> 
         </div>
        <lightning-button type="submit" variant="brand" label="Create Task"></lightning-button>
    </lightning-record-edit-form>
</template>