.THIS{
	
}

.THIS .slds-modal
{
    display: none; aria-hidden:false;
}

.THIS .alternateColorlight
{
    background-color: rgb(221, 241, 236);
}

.THIS .alternateColorDark
{   
    background-color: rgb(196, 219, 209);
}

.THIS .alternateColorActlight
{
    background-color: rgb(221, 241, 236);
}

.THIS .alternateColorActDark
{
    background-color: rgb(196, 219, 209);
}

.THIS .slds-table_header-fixed_container {
    min-height: 12em;
}

.THIS.exactCenter {
    width:200px;
    height:200px;
    position: fixed;
    top: 52%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
  }

.THIS .slds-scope .slds-table td {
    white-space: normal!important;  
}