.THIS .IN {
    color: green;
  }

  .THIS .OUT {
    color: red;
  }

  .THIS .alignCenter {
    width: 20% !important;
  }

  .THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 1%;
    left: 1%;
    margin-top: -10px; 
    margin-left: -10px;
  }